<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <h1>新規登録</h1>
    {% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
    {% endfor %}

    <form action="{{ url_for('signup') }}" method="post">
      <dl>
        <dt>名前:
        <dd><input type=text name="name">
        <dt>Email:
        <dd><input type=text name="email">
        <dt>パスワード:
        <dd><input type=text name="password">
        <dd><input type=submit value="新規作成">
      </dl>
    </form>
  </body>
</html>
